DATABASE_URL=postgresql://postgres:Mudar123!@localhost:5432/paixao_db
SECRET_KEY=paixao_super_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GOOGLE_CLIENT_ID=806537166143-shd77m61p8iqe3eil0l3f74fi3lqj1dk.apps.googleusercontent.com
FACEBOOK_APP_ID=1851353872219292
FACEBOOK_APP_SECRET=2eb4522326bc23bf8e63d69918be821f
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dalawilson1244@gmail.com
SMTP_PASS=bdnjfmambsihgzsa
SMTP_FROM=dalawilson1244@gmail.com